<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ru.omgtu.fitiks.practice.mapper.BoxMapper">

    <resultMap type="Box" id="BoxResult">
        <id property="id" column="b_id"/>
        <result property="clientId" column="b_client_id"/>
        <collection property="productsInTheBox" ofType="ProductInTheBox">
            <id property="productId" column="p_id"/>
            <result property="boxId" column="b_id"/>
            <result property="quantityProduct" column="p_quantity_product"/>
        </collection>
    </resultMap>

    <select id="getBoxById" parameterType="long" resultMap="BoxResult">
        SELECT
            box.id AS b_id,
            box.b_client_id AS b_client_id,
            products_in_the_box.product_id AS p_id,
            products_in_the_box.quantity_product AS p_quantity_product
        FROM box INNER JOIN products_in_the_box ON box.id=products_in_the_box.box_id
        WHERE box.id=#{boxId}
    </select>
    <!-- Instead of referencing Fully Qualified Class Names we can register Aliases in mybatis-config.xml and use Alias names. -->


    <select id="getBoxByClientId" parameterType="long" resultMap="BoxResult">
        SELECT
            box.id AS b_id,
            box.b_client_id AS b_client_id,
            products_in_the_box.product_id AS p_id,
            products_in_the_box.quantity_product AS p_quantity_product
        FROM box INNER JOIN  products_in_the_box ON box.id=products_in_the_box.box_id
        WHERE box.b_client_id=#{clientId}
    </select>

    <select id="getAllBoxs" resultMap="BoxResult">
        SELECT
            box.id AS b_id,
            box.b_client_id AS b_client_id,
            products_in_the_box.product_id AS p_id,
            products_in_the_box.quantity_product AS p_quantity_product
        FROM box INNER JOIN  products_in_the_box ON box.id=products_in_the_box.box_id
    </select>

    <insert id="insertBox" parameterType="Box" useGeneratedKeys="true" keyProperty="id">
INSERT INTO box (b_client_id)
VALUES(#{clientId})
    </insert>


    <update id="updateBox" parameterType="Box">
        UPDATE box
        SET
        b_client_id=#{clientId}
        WHERE id=#{id};
    </update>

    <delete id="deleteBox"  parameterType="long">
        DELETE FROM box WHERE id=#{boxId}
    </delete>

    <delete id="deleteBoxByClientId"  parameterType="long">
        DELETE FROM box WHERE b_client_id=#{clientId}
    </delete>

</mapper>