<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ru.omgtu.fitiks.practice.mapper.CarForStockMapper">

    <resultMap type="CarForStock" id="CarForStockResult">
        <id property="id" column="id"/>
        <result property="mark" column="mark"/>
        <result property="model" column="model"/>
        <result property="releaseDate" column="release_date"/>
        <result property="carrying" column="carrying"/>
    </resultMap>

    <select id="getCarForStockById" parameterType="long" resultMap="CarForStockResult">
        SELECT
        id,
        mark,
        model,
        release_date,
       carrying
        FROM car_for_stock
        WHERE car_for_stock.id = #{carForStockId}
    </select>

    <select id="getCarForStockByMark" parameterType="String" resultMap="CarForStockResult">
        SELECT
        id,
        mark,
        model,
        release_date,
        carrying
        FROM car_for_stock
        WHERE  car_for_stock.mark= #{mark}
    </select>

    <select id="getAllCarForStocks"  resultMap="CarForStockResult">
        SELECT
        id,
        mark,
        model,
        release_date ,
        carrying
        FROM car_for_stock
    </select>
    <!-- Instead of referencing Fully Qualified Class Names we can register Aliases in mybatis-config.xml and use Alias names. -->



    <insert id="insertCarForStock" parameterType="CarForStock" useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO car_for_stock (mark, model, release_date,carrying)
        VALUES(#{mark}, #{model},#{releaseDate},#{carrying})
    </insert>

    <update id="updateCarForStock" parameterType="CarForStock">
        UPDATE car_for_stock
        SET
        mark = #{mark},
        model = #{model},
        release_date = #{releaseDate},
        carrying=#{carrying}
        WHERE id = #{id}
    </update>

    <delete id="deleteCarForStock" parameterType="long">
        DELETE FROM car_for_stock WHERE id = #{carForStockId}
    </delete>

</mapper>